*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(243, 233, 221);
    
}

/*estilos del header*/

header{
    margin-bottom: 1rem;
    
}

.cabecera{
    display: grid;
    grid-template-columns: 30% 70%;
    background-color:rgb(218, 184, 
    139);
    
    
}

header div{
    display: flex;
    justify-content: center;
}

header div img{
    margin: 0.3rem;
    padding: 0.3rem;
    width: 50%;
    height: 90%;
    border-radius: 1rem;  
}

.menu{
    margin: 0.3rem;
    padding: 0.3rem;       
}

.menu ul li{
    list-style-type: none;
    display: inline-block;
    font-size: 0.7rem;
    margin: 0.2rem;
    text-decoration: none;
         
}

.menu ul li a{
    text-decoration: none;
    color: rgb(78, 61, 16);
    font-family: monospace;
    font-weight: bold;
}


/*estilos para el section*/




